@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-border: var(--border);
}

:root {
  --background: #ffffff;
  --foreground: #09090b;
  --border: #e4e4e7;
  --card: #f9f9fb;
}

/* next-themes will inject this class into the <html> tag */
.dark {
  --background: #0c0c0e;
  --foreground: #fafafa;
  --border: #27272a;
  --card: #121214;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--background);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--border);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}